.sampul{
    width: 100px;
    height: 100px;
}

.logo{
    /* max-width: 100%; */
    border-radius: 50%;
    max-height: 200%;
    margin-right: -5%;
}

.table > tbody > tr > * {
    vertical-align: middle;
}

.min-margin{
    margin-top: -8%;
}

.border-rad{
    border-radius: 10px;
}

.img-modal{
    max-width: 40%;
}

.img-login{
    margin-top: -2%;
    margin-bottom: 1%;
    max-width: 20%;
}

.bg-gradient-stis{
    background-color: #1B449C;
}